<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bed4252-2d97-4cac-8934-18ba9317f080" Alias="Gardevoir Pre Evolution Ueh58b08ij8l1mgk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GardevoirPreEvolutionUeh58b08ij8l1mgk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T14:32:17</CreateDate>
    <NodeName Default="Gardevoir Pre Evolution Ueh58b08ij8l1mgk" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/krbo0c2x/gardevoir-pre-evolution-ueh58b08ij8l1mgk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>