<?xml version="1.0" encoding="utf-8"?>
<Media Key="a84ce911-a0f7-47e8-8ab5-6ea735c381a8" Alias="Pokemony Lukario Riolu Evoliutsiia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PokemonyLukarioRioluEvoliutsiia</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T14:34:50</CreateDate>
    <NodeName Default="Pokemony Lukario Riolu Evoliutsiia" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c5ufzkhx/pokemony-lukario-riolu-evoliutsiia.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>