<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9f14fab-8fd4-499c-8478-cf28bf83b48b" Alias="Tyranitar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tyranitar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T16:34:15</CreateDate>
    <NodeName Default="Tyranitar" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vvhpdwou/tyranitar.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>