<?xml version="1.0" encoding="utf-8"?>
<Media Key="c05f9b51-95e4-4de1-9783-8d62a9fb53c7" Alias="Umbreon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbreon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-02T16:34:15</CreateDate>
    <NodeName Default="Umbreon" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k4nf5qhe/umbreon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>