<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4145094b-f629-42b8-9dcd-1b3928d30c5e" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or Blog post</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b29b00fa-3e16-49c7-94e2-45d3040932ac">contentProperties</Composition>
      <Composition Key="c45f3f89-6a54-4c94-947a-26fc989e0758">headerProperties</Composition>
      <Composition Key="c683ce9e-9e1f-4093-b1ef-1728462f712c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1a3db4b-d508-4d16-8fe4-640b23153746">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>