<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e43fa91-6556-4d8e-b826-6e96155098d6" Alias="carouselRowSettings" Level="4">
  <Info>
    <Name>Carousel Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="29a50f91-7473-40b3-af4a-aaf09e3d7b6d">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>