<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad39206a-cca1-4bb3-afa6-5b91fce3203e" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b29b00fa-3e16-49c7-94e2-45d3040932ac">contentProperties</Composition>
      <Composition Key="c45f3f89-6a54-4c94-947a-26fc989e0758">headerProperties</Composition>
      <Composition Key="c683ce9e-9e1f-4093-b1ef-1728462f712c">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4bb8ae97-1e96-4a4b-937c-aec841bb6d11">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>