<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b671c75e-c47a-4adb-a9ac-bb9b17a09b65" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c45f3f89-6a54-4c94-947a-26fc989e0758">headerProperties</Composition>
      <Composition Key="7489575a-86a5-4d2a-911c-cb57d607ae58">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f1c9bcc-a7b0-4ede-a311-5b3b86888a17">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ad39206a-cca1-4bb3-afa6-5b91fce3203e" SortOrder="0">contentPage</ContentType>
    <ContentType Key="4145094b-f629-42b8-9dcd-1b3928d30c5e" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="87c4f371-f7dd-463a-a418-6b691ca52e4d" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>