<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d47d7fa-1d14-4595-b64d-3d5e3e4a4eda" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b8ebb2e8-b40d-424d-a085-216b5e964a33",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "6789478d-1cfd-4424-a23c-1bab6b7db888",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>