<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33be9024-933c-430f-b378-7a6d71cbe859" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0deb6164-0277-4fb0-8b1a-53be735af07e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text' + $index }}",
      "settingsElementTypeKey": "11643658-cccd-4d85-8337-8afe10c8a5a5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "44d6e1a7-e18d-4782-a32d-014efed63cd3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row' + $index }}",
      "settingsElementTypeKey": "55ac07e0-0a86-4031-a534-9861589d706c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>