<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11f65060-7427-4981-852e-c34dd8fb530a" Alias="[DataList] Text Alignment" Level="1">
  <Info>
    <Name>[DataList] Text Alignment</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-navigation-left color-black",
            "name": "Left",
            "value": "text-start",
            "description": ""
          },
          {
            "icon": "icon-navigation-vertical color-black",
            "name": "Center",
            "value": "text-center",
            "description": ""
          },
          {
            "icon": "icon-navigation-right color-black",
            "name": "Right",
            "value": "text-right",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "both",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>