<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09b77cd1-f836-463f-be87-afae2abea98e" Alias="[MultiURLPicker] Singer URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Singer URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>