<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3ddaa46-37cf-4724-87d4-a7e65a3094a0" Alias="About" Level="2">
  <Info>
    <Parent Key="2f58c1f1-fad0-4793-8f27-00c1479df71b">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-27T16:18:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4bb8ae97-1e96-4a4b-937c-aec841bb6d11">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b49e3d05-0b6d-4e0b-af31-2d9ef4c867a9",
    "mediaKey": "7ca49d1e-fa99-4bb0-9d46-1277c544e6c4"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This Pokemon is Flygon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>