<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3ddaa46-37cf-4724-87d4-a7e65a3094a0" Alias="About" Level="2">
  <Info>
    <Parent Key="2f58c1f1-fad0-4793-8f27-00c1479df71b">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-27T16:18:40</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4bb8ae97-1e96-4a4b-937c-aec841bb6d11">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7879dce9e5804796be0a4f26f2818504",
        "settingsUdi": "umb://element/6dfbbf6cd7774c029a21a3b1fd171e2f"
      },
      {
        "contentUdi": "umb://element/338d67b9b6a94729b5912f809e968ba6",
        "settingsUdi": "umb://element/5c8308845e4b468eb587ee655b28bdb2"
      },
      {
        "contentUdi": "umb://element/54b417d18912400c8a14fb0167585e2c",
        "settingsUdi": "umb://element/80fe6acc98ca4e9f85fa89c30624eb25"
      },
      {
        "contentUdi": "umb://element/6b35c79428a5472796b10216fecb4bd4",
        "settingsUdi": "umb://element/1f3f86a4f6a74a07a1a12786166ad545"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0deb6164-0277-4fb0-8b1a-53be735af07e",
      "udi": "umb://element/7879dce9e5804796be0a4f26f2818504",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>"
    },
    {
      "contentTypeKey": "0deb6164-0277-4fb0-8b1a-53be735af07e",
      "udi": "umb://element/54b417d18912400c8a14fb0167585e2c",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>"
    },
    {
      "contentTypeKey": "44d6e1a7-e18d-4782-a32d-014efed63cd3",
      "udi": "umb://element/338d67b9b6a94729b5912f809e968ba6",
      "image": [
        {
          "key": "64c2c178-e038-4b89-bc80-961d7306e2c7",
          "mediaKey": "7ca49d1e-fa99-4bb0-9d46-1277c544e6c4"
        }
      ],
      "caption": "Flygon",
      "link": [
        {
          "name": "Flygon on Google",
          "target": "_blank",
          "url": "https://www.google.com/",
          "queryString": "?query=flygon"
        }
      ]
    },
    {
      "contentTypeKey": "2c269ac7-c4d5-460e-8404-3a4a9823119f",
      "udi": "umb://element/6b35c79428a5472796b10216fecb4bd4",
      "title": "Featured Items",
      "description": "These are some items I thought you would be interested in",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/84b88e30a55f452a8e9db61b1e817537",
              "settingsUdi": "umb://element/82dc206c4f64407da096c5e197305703"
            },
            {
              "contentUdi": "umb://element/06d2d0960b824a7caea2e8ecc60a0d1e",
              "settingsUdi": "umb://element/159feb06344641f0ab7d16d60d7a6b30"
            },
            {
              "contentUdi": "umb://element/25e3de7915b141c69a801cfb6c6e5dc3",
              "settingsUdi": "umb://element/d10c64b973414ff981f3c45c816e39c0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b8ebb2e8-b40d-424d-a085-216b5e964a33",
            "udi": "umb://element/06d2d0960b824a7caea2e8ecc60a0d1e",
            "image": [
              {
                "key": "9c1ec8f4-caf1-478f-993f-b440335d513c",
                "mediaKey": "0bed4252-2d97-4cac-8934-18ba9317f080"
              }
            ],
            "link": [
              {
                "name": "Contact",
                "udi": "umb://document/f6afb063815f48729c822c5e1318b2c8"
              }
            ],
            "title": "Gardevoir",
            "description": "This Pokemon is Type Psychic and Fairy"
          },
          {
            "contentTypeKey": "b8ebb2e8-b40d-424d-a085-216b5e964a33",
            "udi": "umb://element/84b88e30a55f452a8e9db61b1e817537",
            "image": [
              {
                "key": "c63bf8e2-7470-449d-ac3c-560ee5f89275",
                "mediaKey": "a84ce911-a0f7-47e8-8ab5-6ea735c381a8"
              }
            ],
            "link": [
              {
                "name": "Home",
                "udi": "umb://document/2f58c1f1fad047938f2700c1479df71b"
              }
            ],
            "title": "Lucario",
            "description": "This Pokemon is Type Fight and Steel"
          },
          {
            "contentTypeKey": "b8ebb2e8-b40d-424d-a085-216b5e964a33",
            "udi": "umb://element/25e3de7915b141c69a801cfb6c6e5dc3",
            "image": [
              {
                "key": "b9dbb1c5-d667-4bd8-8989-3c0fd7eb0a35",
                "mediaKey": "0ada006e-1698-450d-bfbc-9f8edd76dadb"
              }
            ],
            "link": [
              {
                "name": "Blog",
                "udi": "umb://document/57e3d985daee46fd88e790e3b9e47ec0"
              }
            ],
            "description": "This Pokemon is Type  Electric",
            "title": "Electrivire"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "6789478d-1cfd-4424-a23c-1bab6b7db888",
            "udi": "umb://element/159feb06344641f0ab7d16d60d7a6b30"
          },
          {
            "contentTypeKey": "6789478d-1cfd-4424-a23c-1bab6b7db888",
            "udi": "umb://element/82dc206c4f64407da096c5e197305703"
          },
          {
            "contentTypeKey": "6789478d-1cfd-4424-a23c-1bab6b7db888",
            "udi": "umb://element/d10c64b973414ff981f3c45c816e39c0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "11643658-cccd-4d85-8337-8afe10c8a5a5",
      "udi": "umb://element/6dfbbf6cd7774c029a21a3b1fd171e2f",
      "hide": "0"
    },
    {
      "contentTypeKey": "55ac07e0-0a86-4031-a534-9861589d706c",
      "udi": "umb://element/5c8308845e4b468eb587ee655b28bdb2",
      "hide": "0"
    },
    {
      "contentTypeKey": "11643658-cccd-4d85-8337-8afe10c8a5a5",
      "udi": "umb://element/80fe6acc98ca4e9f85fa89c30624eb25"
    },
    {
      "contentTypeKey": "56699e0b-68c7-406f-85ed-7f184e254aa8",
      "udi": "umb://element/1f3f86a4f6a74a07a1a12786166ad545",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b49e3d05-0b6d-4e0b-af31-2d9ef4c867a9",
    "mediaKey": "7ca49d1e-fa99-4bb0-9d46-1277c544e6c4"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This Pokemon is Flygon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>