<?xml version="1.0" encoding="utf-8"?>
<Content Key="57e3d985-daee-46fd-88e7-90e3b9e47ec0" Alias="Blog" Level="2">
  <Info>
    <Parent Key="2f58c1f1-fad0-4793-8f27-00c1479df71b">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-10-27T17:38:58</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f1a3db4b-d508-4d16-8fe4-640b23153746">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e81276056494fb285a9796108cb1c86",
        "settingsUdi": "umb://element/12dfb48a41dd453394c70d73631cee5a"
      },
      {
        "contentUdi": "umb://element/3384352504e24be2b216ac22cc2545e8",
        "settingsUdi": "umb://element/7e572c5b7d8f435ead0f79791a67e843"
      },
      {
        "contentUdi": "umb://element/c802291ba87842f4b282c0f9247f6dec",
        "settingsUdi": "umb://element/211882253ca84574bd0eb67a358489a0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4b1d3f89-a9ce-4afa-b92c-fbc377b67700",
      "udi": "umb://element/6e81276056494fb285a9796108cb1c86",
      "title": "FAQs",
      "description": "These are some FAQs",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c7ecf68ea4cc46bc88ced0e6258c8265",
              "settingsUdi": "umb://element/075c434216f24d5a97915e375e3e253d"
            },
            {
              "contentUdi": "umb://element/e49646dc4a6e47c493237b6ead2edc14",
              "settingsUdi": "umb://element/7ef574620069483586b96f1560da2050"
            },
            {
              "contentUdi": "umb://element/9cfcaac50c624408ad094f7e85045b63",
              "settingsUdi": "umb://element/6deb9e43e35a46c3a3de1a639f433aa3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/c7ecf68ea4cc46bc88ced0e6258c8265",
            "title": "Electivire",
            "content": "<p>Posee un aspecto muy robusto y macizo que conserva de sus pre-evoluciones, pero a diferencia de estas tiene una figura de un enchufe en su espalda. Sus dos colas le permiten atacar con gran fuerza, se pueden extender y atrapar a su rival y las usa para impulsarse para dar grandes saltos, además son su fuente de energía y absorben su electricidad. Lanza descargas eléctricas de más de 20.000 voltios.</p>"
          },
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/e49646dc4a6e47c493237b6ead2edc14",
            "title": "Lucario",
            "content": "<p>Su aspecto es el de un lobo o chacal azul bípedo. Las orejas son más grandes y rectas que<span> </span><a href=\"https://pokemon.fandom.com/es/wiki/Riolu\" title=\"Riolu\">Riolu</a>, los \"sensores\" (que se sitúan en la parte trasera de la cabeza) con los que siente el aura se han multiplicado por 2, tiene ahora un pincho en el pecho, y su cabeza es de una forma un poco más humanoide. En la parte superior de sus manos, Lucario tiene unos pinchos que se pueden transformar en unas grandes garras que usa para atacar</p>"
          },
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/9cfcaac50c624408ad094f7e85045b63",
            "title": "Gardevoir",
            "content": "<p>Gardevoir tiene un sentido que ningún otro Pokémon posee, consistente en captar los sentimientos de su entrenador para poder ayudarle en caso de peligro, independientemente de si la vida de dicho Pokémon está en juego o no. Este Pokémon no sólo protege a su entrenador, también a sus descendientes. Además, el estado de ánimo de Gardevoir está estrechamente relacionado con el de su entrenador, es decir, que si su entrenador está preocupado o triste, Gardevoir también lo estará. Por el contrario, si su entrenador está contento o eufórico, Gardevoir se sentirá igual de bien.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/075c434216f24d5a97915e375e3e253d",
            "hide": "0"
          },
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/7ef574620069483586b96f1560da2050",
            "hide": "0"
          },
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/6deb9e43e35a46c3a3de1a639f433aa3",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "4b1d3f89-a9ce-4afa-b92c-fbc377b67700",
      "udi": "umb://element/3384352504e24be2b216ac22cc2545e8",
      "title": "FAQs",
      "description": "These are some FAQs",
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b51301be683f443a9568ade2e28f147d",
              "settingsUdi": "umb://element/1ccb8c60120d4a2fae7c30328c7813ae"
            },
            {
              "contentUdi": "umb://element/58f8585416274ca1a495f3a18b63fa2e",
              "settingsUdi": "umb://element/7d26393ccbaa489d985ff6e59df326ee"
            },
            {
              "contentUdi": "umb://element/12fbfad2caab4b35ba2e14707c495a72",
              "settingsUdi": "umb://element/0e2f18d61c47434fa3d53aae7bafd452"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/b51301be683f443a9568ade2e28f147d",
            "title": "Electivire",
            "content": "<p>Posee un aspecto muy robusto y macizo que conserva de sus pre-evoluciones, pero a diferencia de estas tiene una figura de un enchufe en su espalda. Sus dos colas le permiten atacar con gran fuerza, se pueden extender y atrapar a su rival y las usa para impulsarse para dar grandes saltos, además son su fuente de energía y absorben su electricidad. Lanza descargas eléctricas de más de 20.000 voltios.</p>"
          },
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/58f8585416274ca1a495f3a18b63fa2e",
            "title": "Lucario",
            "content": "<p>Su aspecto es el de un lobo o chacal azul bípedo. Las orejas son más grandes y rectas que<span> </span><a href=\"https://pokemon.fandom.com/es/wiki/Riolu\" title=\"Riolu\">Riolu</a>, los \"sensores\" (que se sitúan en la parte trasera de la cabeza) con los que siente el aura se han multiplicado por 2, tiene ahora un pincho en el pecho, y su cabeza es de una forma un poco más humanoide. En la parte superior de sus manos, Lucario tiene unos pinchos que se pueden transformar en unas grandes garras que usa para atacar</p>"
          },
          {
            "contentTypeKey": "fddc10f0-252d-4004-827c-fc378afcfa82",
            "udi": "umb://element/12fbfad2caab4b35ba2e14707c495a72",
            "title": "Gardevoir",
            "content": "<p>Gardevoir tiene un sentido que ningún otro Pokémon posee, consistente en captar los sentimientos de su entrenador para poder ayudarle en caso de peligro, independientemente de si la vida de dicho Pokémon está en juego o no. Este Pokémon no sólo protege a su entrenador, también a sus descendientes. Además, el estado de ánimo de Gardevoir está estrechamente relacionado con el de su entrenador, es decir, que si su entrenador está preocupado o triste, Gardevoir también lo estará. Por el contrario, si su entrenador está contento o eufórico, Gardevoir se sentirá igual de bien.</p>"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/1ccb8c60120d4a2fae7c30328c7813ae",
            "hide": "0"
          },
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/7d26393ccbaa489d985ff6e59df326ee",
            "hide": "0"
          },
          {
            "contentTypeKey": "f4e7aa0b-bbce-4b4d-a845-ec144c739013",
            "udi": "umb://element/0e2f18d61c47434fa3d53aae7bafd452",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "1424465e-f82a-45ab-b9c6-d944f33e4a85",
      "udi": "umb://element/c802291ba87842f4b282c0f9247f6dec",
      "quoteText": "<p>Don't let the fear of the time it will take to accomplish something stand in the way of your doing it. The time will pass anyway; we might just as well put that passing time to the best possible use.</p>",
      "quoteAuthor": "Earl Nightingale,",
      "authorJobTitle": "American radio speaker and author",
      "citeLink": [
        {
          "name": "https://www.brainyquote.com/quotes/earl_nightingale",
          "url": "https://www.brainyquote.com/quotes/earl_nightingale"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "65244d75-7b38-4639-91f7-7eb2a86e6d48",
      "udi": "umb://element/12dfb48a41dd453394c70d73631cee5a",
      "hide": "0"
    },
    {
      "contentTypeKey": "65244d75-7b38-4639-91f7-7eb2a86e6d48",
      "udi": "umb://element/7e572c5b7d8f435ead0f79791a67e843",
      "hide": "0"
    },
    {
      "contentTypeKey": "0d804f34-f75b-426b-a07b-e38815b19ce7",
      "udi": "umb://element/211882253ca84574bd0eb67a358489a0",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "da0b0ce4-031f-42cf-87b2-60bd49b95260",
    "mediaKey": "0ada006e-1698-450d-bfbc-9f8edd76dadb"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This Pokemon is Electivire]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>