<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6afb063-815f-4872-9c82-2c5e1318b2c8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2f58c1f1-fad0-4793-8f27-00c1479df71b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-10-27T17:39:23</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e512b563-6316-497b-b893-a876666a84b6">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "dcf52ce9-a85a-4316-8472-180f208f0718",
    "mediaKey": "0bed4252-2d97-4cac-8934-18ba9317f080"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This Pokemon is Gardevoir]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>