<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6afb063-815f-4872-9c82-2c5e1318b2c8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2f58c1f1-fad0-4793-8f27-00c1479df71b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-10-27T17:39:23</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e512b563-6316-497b-b893-a876666a84b6">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3d138b77565f4d9b894b08bfc61fe58c",
        "settingsUdi": "umb://element/ac66943a7bfc42ee9ac84ce929aec3aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "948eb802-4092-427b-b99e-638eb932822d",
      "udi": "umb://element/3d138b77565f4d9b894b08bfc61fe58c",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d3116872cf0545bea353cceef7e21dc0",
              "settingsUdi": "umb://element/8d5619ddf78444a780c9f9d9de09e604"
            },
            {
              "contentUdi": "umb://element/e9c85fe869b749b5968d875077f15dba",
              "settingsUdi": "umb://element/6bdb5cc383c2417f8f089940110a46ec"
            },
            {
              "contentUdi": "umb://element/3f8e218df68b4abd9033ff12274face8",
              "settingsUdi": "umb://element/4bc35218b2e142b7b942f89611f4b83f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4392bc7f-37ec-46be-8dbb-8549ee433283",
            "udi": "umb://element/d3116872cf0545bea353cceef7e21dc0",
            "title": "Umbreon",
            "description": "Es un Pokémon de tipo siniestro introducido en la segunda generación",
            "image": [
              {
                "key": "8b1df3a5-7349-41d8-93a5-2065d33c9b9a",
                "mediaKey": "c05f9b51-95e4-4de1-9783-8d62a9fb53c7"
              }
            ]
          },
          {
            "contentTypeKey": "4392bc7f-37ec-46be-8dbb-8549ee433283",
            "udi": "umb://element/e9c85fe869b749b5968d875077f15dba",
            "title": "Tyranitar",
            "description": "Es un Pokémon de tipo roca/siniestro introducido en la segunda generación",
            "image": [
              {
                "key": "03862925-0b8b-462c-b4b0-f712c7dbdcf3",
                "mediaKey": "b0deb3bf-3f22-4c12-9671-c983ba4ead53"
              }
            ]
          },
          {
            "contentTypeKey": "4392bc7f-37ec-46be-8dbb-8549ee433283",
            "udi": "umb://element/3f8e218df68b4abd9033ff12274face8",
            "title": "Luxray",
            "description": "Es un Pokémon de tipo eléctrico introducido en la cuarta generación",
            "image": [
              {
                "key": "4c8a7c51-a558-44ee-af19-e48340f9e320",
                "mediaKey": "ac27518d-1e0f-4995-ab41-c5a372136cab"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "bdd32a78-ac16-41d0-af2f-30ba231a3fbd",
            "udi": "umb://element/8d5619ddf78444a780c9f9d9de09e604",
            "hide": "0"
          },
          {
            "contentTypeKey": "bdd32a78-ac16-41d0-af2f-30ba231a3fbd",
            "udi": "umb://element/6bdb5cc383c2417f8f089940110a46ec",
            "hide": "0"
          },
          {
            "contentTypeKey": "bdd32a78-ac16-41d0-af2f-30ba231a3fbd",
            "udi": "umb://element/4bc35218b2e142b7b942f89611f4b83f",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0e43fa91-6556-4d8e-b826-6e96155098d6",
      "udi": "umb://element/ac66943a7bfc42ee9ac84ce929aec3aa",
      "hide": "0",
      "showIndicators": "0",
      "showNavigationsArrows": "0",
      "showDarkMode": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "dcf52ce9-a85a-4316-8472-180f208f0718",
    "mediaKey": "0bed4252-2d97-4cac-8934-18ba9317f080"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This Pokemon is Gardevoir]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon Page]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>