<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f58c1f1-fad0-4793-8f27-00c1479df71b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-10-26T13:24:44</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2f1c9bcc-a7b0-4ede-a311-5b3b86888a17">HomePage</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "aa2ce7c8-903c-464b-b328-6a32e71181c3",
    "mediaKey": "a84ce911-a0f7-47e8-8ab5-6ea735c381a8"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "b979c4d4-cb8b-4820-af2c-2216dd6c5b1c",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/2f58c1f1fad047938f2700c1479df71b"
      }
    ],
    "childLinks": null
  },
  {
    "key": "89bc9bbf-cf17-4c1d-8625-b10b6d59f3f5",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/c3ddaa4637cf472487d4a7e65a3094a0"
      }
    ],
    "childLinks": null
  },
  {
    "key": "63c84f2d-cf83-41a6-bfcb-7b4b24897db3",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/57e3d985daee46fd88e790e3b9e47ec0",
        "queryString": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Lastes Blog Pots",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "02878451-28ac-49f0-be7b-61786c8e958b",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/f6afb063815f48729c822c5e1318b2c8"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[About this website]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Pokemon World]]></Value>
    </title>
  </Properties>
</Content>